<div class="container">
    <app-navbar></app-navbar>
    <div class="header">
        <img src="../../../assets/images/apply_seller_header_img.svg" alt="rectangle_7" />
        <h1>Register your store </h1>
    </div>
    <p>Please fill the form below and our executive will contact your shortly.</p>
    <div class="form">
        <form action="">
            <input type="text" placeholder="Seller’s First Name *" required>
            <input type="text" placeholder="Seller’s Last Name *" required>
            <input type="text" placeholder="Seller’s Email Id *" required>
            <input type="text" placeholder="Seller’s Phone Number *" required>
            <input type="text" placeholder="Store Name *" required>
            <input type="text" placeholder="Store Address *" required>
            <button>Apply</button>
        </form>
    </div>
</div>